.title {
  margin: 0 0 50px 0;
  font-size: var(--text-3xl);
  text-align: center;
}

.description {
  font-size: var(--text-xl);
  text-align: center;
}

.box {
  width: fit-content;
  margin: 0 auto 100px auto;
  padding: 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.innerBox {
  width: fit-content;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
