.topic {
  opacity: 0;
  text-align: center;
  font-size: var(--text-3xl);
  margin: 0 0 var(--space-base) 0;
}

.description {
  text-align: center;
  font-size: var(--text-lg);
  margin: 0 auto var(--space-lg) auto;
  opacity: 0;
  width: calc(100% - 20px);
  max-width: 800px;
}

.linkWrapper {
  width: calc(100% - 20px);
  padding: 0 10px;
}

.link {
  width: fit-content;
  padding: var(--space-base);
  margin: 0 auto var(--space-3xl) auto;
  border-radius: 10px;
  display: block;
  opacity: 0;
  text-align: center;
  font-size: var(--text-xl);
  background-color: var(--bg-color-brown);
}

span {
  display: inline-block;
  text-decoration: underline;
}
