/** FirstView.module.css **/
.box {
  width: 100%;
  height: 100lvh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0 0 200px 0;
}
/* layout */
.upperFrame {
  flex-grow: 0;
  margin: 20px;
}
.photoFrame {
  flex-grow: 1;
  /* border: solid 1px #666; */
  transform: rotate(350deg);
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}
.lowerFrame {
  flex-grow: 0;
  margin: 20px;
}

/*** frame ***/
.frame {
  display: flex;
  align-items: center;
  font-size: var(--text-base);
}
.frame:before,
.frame:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #666;
}
.frame:before {
  margin-right: 20px;
}
.frame:after {
  margin-left: 20px;
}

/*** body content ***/
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* inner layout */
.mainContent {
  flex-grow: 1;
  background-image: url(../assets/natsuiro.webp);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.lowerPhrase {
  flex-grow: 0;
}

/*** phrase ***/
.phrase {
  font-size: var(--text-xl);
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  margin: 20px 0 0 0;
}

/* .box {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100lvh * 3 / 4);
}

.item {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.phrase {
  text-align: center;
  padding: 0 0 20px 0;
  font-size: var(--text-xl);
}

.frame {
  padding: 20px;
  border: solid 2px var(--bg-color-brown);
}

.ticket {
  width: 100%;
  height: 200px;
  background-color: rgb(188, 236, 236);
  display: flex;
  align-items: center;
}

.checkBox {
  --bix-size: 120px;
  height: var(--bix-size);
  width: var(--bix-size);
  border: solid 2px var(--text-color);
  margin: 0 0 0 40px;
}

.logo {
  height: 100px;
  aspect-ratio: 451 / 293;
  margin: 0 20px;
  background-image: url("../assets/logo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ticketInfo {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c107 {
  margin: 0 auto;
  font-size: var(--text-2xl);
  font-family: "Noto Sans JP", sans-serif;
}

.circle {
  width: fit-content;
  font-size: var(--text-2xl);
  font-family: "Noto Sans JP", sans-serif;
  border: solid 2px var(--text-color);
}

.day {
  width: 120px;
  height: fit-content;
  margin: 0 -70px 0 0px;
  text-align: center;
  transform: rotate(-90deg);
  font-size: var(--text-4xl);
  font-family: "Noto Sans JP", sans-serif;
}

.date {
  width: 120px;
  height: fit-content;
  margin: 0 -90px 0 0;
  text-align: center;
  transform: rotate(-90deg);
  font-size: var(--text-xl);
  font-family: "Noto Sans JP", sans-serif;
} */
