.box {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100lvh * 3 / 4);
}

.item {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.phrase {
  text-align: center;
  padding: 0 0 20px 0;
  font-size: var(--text-xl);
}

.frame {
  padding: 20px;
  border: solid 2px var(--bg-color-brown);
}

.ticket {
  width: 100%;
  height: 200px;
  background-color: rgb(188, 236, 236);
  display: flex;
  align-items: center;
}

.checkBox {
  --bix-size: 120px;
  height: var(--bix-size);
  width: var(--bix-size);
  border: solid 2px var(--text-color);
  margin: 0 40px;
}

.logo {
  height: 100px;
  aspect-ratio: 451 / 293;
  background-image: url("./assets/logo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ticketInfo {
  height: 120px;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c107 {
  font-size: var(--text-2xl);
  font-family: "Noto Sans JP", sans-serif;
}

.circle {
  width: fit-content;
  font-size: var(--text-2xl);
  font-family: "Noto Sans JP", sans-serif;
  border: solid 2px var(--text-color);
  margin: 0 auto;
}

.day {
  width: 120px;
  height: fit-content;
  margin: 0 -70px 0 0px;
  text-align: center;
  transform: rotate(-90deg);
  font-size: var(--text-4xl);
  font-family: "Noto Sans JP", sans-serif;
}

.date {
  width: 120px;
  height: fit-content;
  margin: 0 -90px 0 0;
  text-align: center;
  transform: rotate(-90deg);
  font-size: var(--text-xl);
  font-family: "Noto Sans JP", sans-serif;
}
