.contents {
  width: calc(100% - 244px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contents::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1149px) {
  .contents {
    width: 100%;
  }
}

@media screen and (min-width: 1150px) {
  .contents {
    width: calc(100% - 244px);
  }
}
