.label {
  --label-width: 244px;
  background-color: var(--bg-color-brown);
  width: var(--label-width);
  height: calc(100% - 30px);
  position: fixed;
  top: 0px;
  right: 0px;
}

.titleWrapper {
  width: var(--label-width);
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
}

.title {
  display: flex;
  justify-content: flex-end;
  height: 50%;
}

.iconWrapper {
  width: var(--label-width);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 0 20px 0;
}
