.footer {
  width: fit-content;
  height: fit-content;
  border-radius: 22px;
  padding: 10px 20px;
  margin: 200px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-brown);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.copyRight {
  font-size: var(--text-base);
}
