.ul {
  width: fit-content;
  max-width: 800px;
  height: 210px;
  margin: 0 auto;
  padding: var(--space-base) var(--space-xl) var(--space-xl) var(--space-xl);
  background-color: var(--bg-color-brown);
  border-radius: 10px;
  list-style: none;
  opacity: 0;
  overflow-y: scroll;
  position: relative;
  z-index: 2;
}
