.ul {
  width: 100%;
  max-width: calc(800px - var(--space-xl) * 2);
  height: 210px;
  margin: 0 auto;
  padding: var(--space-base) var(--space-xl) var(--space-xl) var(--space-xl);
  background-color: var(--bg-color-brown);
  border-radius: 10px;
  list-style: none;
  overflow-y: scroll;
  position: relative;
  z-index: 2;
  opacity: 0;
}
