.label {
  background-color: #e0d6be;
  color: #7b5f47;
  width: 300px;
  height: 100%;
}

.titleWrapper {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
}

.title {
  display: flex;
  justify-content: flex-end;
  height: 50%;
}

.iconWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 0 20px 0;
}
