.item {
  --item-padding: 20px;
  padding: var(--item-padding);
  background-color: var(--bg-color-cream);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 820px) {
  .largeItem {
    width: calc(350px * 2);
  }
  .smallItem {
    width: calc(350px - var(--item-padding) * 2);
  }
}
@media screen and (max-width: 819px) {
  .largeItem {
    width: 100%;
  }
  .smallItem {
    width: 100%;
  }
}

.itemImageWrapper {
  display: block !important;
  margin: 0 auto;
  height: 400px;
  width: fit-content !important;
}

.itemImage {
  object-fit: cover;
  object-position: 50% 50%;
  height: 400px;
  width: 100%;
}

.itemName {
  margin: 30px 0 0 0;
  font-size: var(--text-xl);
}

.itemPrice {
  font-size: var(--text-base);
}
