.li {
  width: 100%;
  margin: var(--space-base) 0 0 0;
  font-size: var(--text-xl);
  border-bottom: 1px solid var(--text-color);
}

.link {
  text-decoration: none;
}

.date {
  font-size: var(--text-base);
  display: inline-block;
  margin: 0 20px 0 0;
}

.content {
  font-size: var(--text-lg);
  display: inline-block;
}
