.list {
  margin: var(--space-base) 0 0 0;
  font-size: var(--text-xl);
  border-bottom: 1px solid var(--text-color);
}

.link {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  text-decoration: none;
}

.date {
  font-size: var(--text-base);
}

.content {
  font-size: var(--text-xl);
}
