.logoWrapper {
  margin: 0 auto;
  width: 200px;
  opacity: 0;
}

.logo {
  width: 100%;
  height: auto;
}

.descriptionWrapper {
  width: 100%;
  max-width: 800px;
  margin: var(--space-xl) auto 0 auto;
}

.description {
  padding: 0 10px;
  opacity: 0;
  text-align: center;
  font-size: var(--text-lg);
}
