.gallery {
  width: 100%;
  max-width: 1048px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.frame {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (min-width: 1370px) {
  .gallery {
    width: 100%;
    max-width: 1048px;
  }
}

@media screen and (max-width: 1369px) and (min-width: 860px) {
  .gallery {
    width: 100%;
    max-width: 782px;
  }
}

@media screen and (max-width: 859px) and (min-width: 578px) {
  .gallery {
    width: 100%;
    max-width: 516px;
  }
}

@media screen and (max-width: 577px) {
  .gallery {
    width: calc(100% - 20px);
    max-width: 250px;
  }
}

.work {
  opacity: 0;
}
