.container {
  width: 100%;
  height: 100lvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusCode {
  font-size: var(--text-5xl);
  text-align: center;
  margin: 0 0 var(--space-sx) 0;
}

.message {
  font-size: var(--text-xl);
  text-align: center;
  margin: 0 0 var(--space-xl) 0;
}

.link {
  width: fit-content;
  padding: 10px 30px;
  margin: 0 auto;
  font-size: var(--text-lg);
  text-align: center;
  border-radius: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  background-color: var(--bg-color-brown);
}
