.title {
  margin: 0 0 50px 0;
  font-size: var(--text-3xl);
  text-align: center;
}

.description {
  font-size: var(--text-xl);
  text-align: center;
  margin: 0 0 20px 0;
}

.box {
  margin: 0 auto 150px auto;
  padding: 0 20px;
  max-width: 800px;
}

.link {
  display: block;
  width: fit-content;
  font-size: var(--text-xl);
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--bg-color-brown);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
