.blogWrapper {
  width: fit-content;
  padding: 10px 30px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--bg-color-brown);
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  z-index: 2;
  opacity: 0;
}

.iconWrapper {
  width: 150px;
}

.icon {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.blogTitle {
  font-size: var(--text-2xl);
  margin: 0 0 var(--space-xs) 0;
}

.blogDescription {
  font-size: var(--text-lg);
}
