* {
  margin: 0;
  padding: 0;
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
  /* cursor: none !important; */
  color: var(--font-color);
}

html,
body {
  background-color: var(--bg-color-beige);
}

section {
  width: 100%;
}

:root {
  --bg-color-brown: #e0d6be;
  --bg-color-beige: #f1e6dc;
  --font-color: #7b5f47;
}
